<form [formGroup]="formGroup">
  <ag-grid-angular
    style="width: 100%; height: 200px;"
    class="ag-theme-alpine"
    [gridOptions]="gridOptions"
    (gridReady)="onGridReady($event)"
    (rowEditingStarted)="onRowEditingStarted($event)"
    (rowEditingStopped)="onRowEditingStopped($event)"
  >
  </ag-grid-angular>
</form>
<div *ngIf="!!formGroup && formGroup.pending">
pending validation
</div>
<br>
<div *ngIf="!!formGroup && !!formGroup.controls && !!formGroup.controls.price && formGroup.invalid">
  price errors: {{formGroup.controls.price.errors | json}}
</div>
